input:focus:valid ~.floatingg-label{
top: 8px;
bottom: 10px;
left: 20px;
font-size: 11px;
opacity: 1;
}

.inputText{
  font-size: 12px;
  width: 200px;
  height: 35px;
}

.floatingg-label{
  position:absolute;
  pointer-events: nome;
  color: aquamarine;
  left: 20px;
  top: 18px;
  transition: 0.2 ease all;
}