input:focus ~ .floating-label,
input:focus:valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputPassword {
  font-size: 14px;
  width: 260px;
  height: 35px;
}

.inputText {
  font-size: 14px;
  width: 260px;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}

#btnMostrar{
  padding: 10;
  /* z-index: 999; */
  position: absolute;
  /* pointer-events: none; */
  left: 200px;
  top: 60px;
  transition: 0.2s ease all;
}